@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap')

@function box-shadow-stars($n)
  $star-shadows: '#{random(4096)}px #{random(2160)}px #ffffff'
  @for $i from 2 through $n
    $star-shadows: '#{$star-shadows}, #{random(4096)}px #{random(2160)}px #ffffff'
  @return unquote($star-shadows)
  
$stars1-shadows: box-shadow-stars(5000)
$stars2-shadows: box-shadow-stars(2500)
$stars3-shadows: box-shadow-stars(1250)


.stars1
  width: 1px
  height: 1px
  background: transparent
  box-shadow: $stars1-shadows
  border-radius: 50%
  animation: scroll-stars 300s linear infinite
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 1px
    height: 1px
    background: transparent
    box-shadow: $stars1-shadows
    border-radius: 50%
    
.stars2 
  width: 2px
  height: 2px
  background: transparent
  box-shadow: $stars2-shadows
  border-radius: 50%
  animation: scroll-stars 120s linear infinite
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 2px
    height: 2px
    background: transparent
    box-shadow: $stars2-shadows
    border-radius: 50%

.stars3 
  width: 4px
  height: 4px
  background: transparent
  box-shadow: $stars3-shadows
  border-radius: 50%
  animation: scroll-stars 90s linear infinite
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 4px
    height: 4px
    background: transparent
    box-shadow: $stars3-shadows
    border-radius: 50%

@keyframes scroll-stars
  from
    transform: translateY(0px)
  to
    transform: translateY(-2000px)

.parallax
  perspective: 100px
  height: 100vh
  overflow-x: hidden
  overflow-y: auto
  position: absolute
  top: 0
  left: 50%
  right: 0
  bottom: 0
  margin-left: -1500px

.parallax__layer
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  img
    display: block
    position: absolute
    bottom: 0
  
.parallax__cover
  background: #2D112B
  display: block
  position: absolute
  top: 100%
  left: 0
  right: 0
  height: 2000px
  z-index: 2

@for $p from 0 through 6
  $x: calc((6 - $p) / 2)
  .parallax__layer__#{$p}
     transform: translateZ(-100 * $x+px) scale($x + 1)

html
  height: 100vh
  overflow: hidden
  background: #000000
  background: radial-gradient(ellipse at bottom, #333366, black)

body
  color: white

img
  filter: invert

.title
  font-family: 'Days One', sans-serif
  font-size: xx-large
  text-align: center
  width: 100%

